
@using BOL;
@using DAL;
<style>
    table{
        border: 2px solid black;
      
    }

    td{
        width: 100px;
    }
</style>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <table>
    <tr>
        <a href="AddProduct">Add Product</a>
    </tr>
    
    <tr>
        <td>Product Id</td>
        <td>Product Name</td>
        <td>Price</td>
        <td>Quantity</td>
    </tr>
       
        @foreach (var item in Model)
        {
            <tr>
            <td>@item.ProductId</td>
            <td>@item.Productname</td>
            <td>@item.Price</td>
            <td>@item.Quantity</td>
             <td>
            <a href="Delete/@item.ProductId" >Delete Product</a>
            </td>
            <td>
            <a href="Edit/@item.ProductId" >Edit Product</a>
            </td>
            </tr>

           
     }
   </table>
   
</div>
